.menu {
    display: none;
    position: absolute;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 10;
}
 
.menu li {
    text-align: left;
    width: 100%;
    border-top: 1px solid rgb(209, 208, 208);
    background-color: rgb(54, 54, 54);
}
.menu li span {
    margin-right: 20px;
    color: rgb(11, 132, 245);
}
    
.menu li:first-child {
    border: none;
}

.menu li:last-child {
    border-bottom: 1px solid rgb(209, 208, 208);
}

.menu-item {
    display: flex;
    flex-flow: row nowrap;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em 2em;
}

.menu-item span {
    width: 30px;
}

.menu li:hover{
    color: rgb(11, 132, 245);
}

.open-menu {
    display: flex;
    flex-direction: column;    
}

.menu .category-dropdown {
    position: relative;
}

.menu .category-dropdown .chevron {
    position: absolute;
    right: 0;
    margin-right: 0;
    top: 0;
    color: rgb(255, 255, 255);
    padding: 1em 1.2em;
    cursor: pointer;
}

.menu .category-dropdown ul {
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: 54px;
    left: 0;
    width: 100%;
    display: none;
}

.menu .category-dropdown ul li {
    cursor: pointer;
}

.menu .category-dropdown .isOpenCategories {
    display: block;
}

.menu .active {
    background-color: rgb(255, 255, 255);
}

.menu .active .menu-item {
    color: rgb(0, 0, 0);
}

@media(min-width: 1000px){
    .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 30%;
    }  
}
  