.product-card {
    position: relative;
    width: 300px;
    margin: 20px 8px;
    border: 1px solid rgb(209, 208, 208);
}

.product-card .product-content {
    display: flex;
    flex-direction: column;
}

.product-card .image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 270px;
    width: 300px;
    overflow: hidden;
}

.product-card .image .placeholder{
    background-color: rgb(184, 181, 181);
}

.product-card .product-card-body {
    margin: 4px 10px 10px 10px; 
}

.product-card .product-card-body .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card .product-card-body .info .product-card-title {
    margin-bottom: 10px;
}

.product-card .product-card-body .info h3 {
    margin: 0;
}

.product-card .product-card-body .info .product-card-info {
    display: flex;
    flex-direction: column;    
}

.product-card .product-card-body .info .card-button {
    margin: 10px 0;
}

.product-card .product-card-body .info .card-button button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(54, 54, 54);
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}

.product-card .product-card-body .info .card-button button span {
    color: rgb(255, 255, 255);
}

.product-card .button-text {
    display: inline-block;
    margin-left: 6px;
}


.product-card .warning {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    background-color: rgb(255, 255, 16);
    border: 1px solid rgb(209, 208, 208);
    padding: 5px 11px;
    font-size: 13px;
}

.product-card .heart {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

@media (min-width: 500px) {
    .product-card {
        width: 220px;
    }
    
    .product-card .image {
        width: 220px;
        height: 180px;
    }
}

@media (min-width: 570px) {
    .product-card {
        width: 260px;
    }
    
    .product-card .image {
        width: 260px;
        height: 220px;
    }     
}

@media (min-width: 965px) {
    .product-card {
        width: 300px;
    }

    .product-card .image{
        width: 300px;
        height: 270px;
    }
}

@media (min-width: 1100px) {
    .product-card {
        width: 260px;
    }
    
    .product-card .image {
        width: 260px;
        height: 220px;
    }
}

@media (min-width: 1250px) {
    .product-card {
        width: 300px;
    }

    .product-card .image{
        width: 300px;
        height: 270px;
    }
}

@media (min-width: 1468px) {
    .product-card {
        width: 260px;
    }
    
    .product-card .image {
        width: 260px;
        height: 220px;
    }
}

@media (max-width: 380px) {
    .product-card {
        width: 260px;
    }
    
    .product-card .image {
        width: 260px;
        height: 220px;
    }
}