@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


.layout header {
    position: relative;
    padding: 20px;
    background-color: rgb(243, 241, 241);
    color: rgb(48, 45, 56);
    font-family: 'Love Ya Like A Sister', cursive;
    text-align: center;
}

.layout header h1 {
    margin: 0;
    font-size: 32px;  
}

.layout .row {
    display: flex;
}

.layout .content-col {
    width: 100%;
}

@media(max-width: 500px){
    .layout header h1 {
        font-size: 28px;
        visibility: hidden;
    }
}