.product-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.controls {
    display: flex;
    flex-direction: column;
    padding: 8px;
    background-color: rgb(106, 105, 107);
}

.controls h2 {
    margin: 4px 8px 0 8px;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.controls .control-buttons {
    display: flex;
    flex-flow: row nowrap;   
}

.controls .control-buttons button {
    width: 100%;
    margin: 4px;
}

.controls button {
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    cursor: pointer;
}

.controls form {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.controls form input {
    width: 90%;
    height: 34px;
    margin: 4px 0 4px 4px;
}

.controls form button {
    margin-right: 4px 4px 4px 0;
    height: 34px;
}

.not-displayed {
    display: none;
}

.message {
    background-color: rgb(192, 228, 163);
    padding: 6px 10px;
    border-radius: 4px;
}

.error {
    background-color: rgb(223, 152, 150);
    padding: 6px 10px;
    border-radius: 4px;
}

.empty-space {
    display: none;
    height: 160px;
    width: 100%;
    margin: 8px;
}

@media (min-width: 850px) {
    .empty-space {
        display: block;
        width: 400px;
    }
}

@media (min-width: 1000px) {
    .empty-space {
        display: none;
    }
}

@media (min-width: 1255px) {
    .empty-space {
        display: block;
        width: 420px;
    }
}

@media (min-width: 1280px) {
    .empty-space {
        display: none;
    }
}

@media (min-width: 1300px) {
    .empty-space {
        display: block;
        width: 460px;
    }
}

@media (min-width: 1468px) {
    .empty-space {
        width: 540px;
    }
}

@media (min-width: 540px) {
    .controls {
        flex-flow: row nowrap;
        justify-content: space-between;      
    }

    .controls .control-buttons button {
        width: auto;
        margin: 0 4px;
    }

    .controls form input {
        width: auto;
        margin: 0 0 0 4px;
    }

    .controls form button {
        margin: 0;  
    }
}

@media (min-width: 600px) {
    .controls form button {
        margin: 0 20px 0 0;  
    }

    .controls h2 {
        margin-left: 20px;
    }    
}