.order-info-container {
    margin: 0 20px;
    border: 1px solid rgb(209, 208, 208);
    padding: 20px 30px;
}

.order-info-header {
    margin: 0 0 10px 0;
    word-wrap: break-word;
}

.order-info, .order-product {
    margin: 0 0 6px 0;
    border-bottom: 1px solid rgb(209, 208, 208);
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.order-info span:first-child, .order-product span:first-child {
    width: 200px;
}

.order-info-buttons button {
    display: inline-block;
    padding: 8px 16px;
    margin: 20px 10px;
}

.order-info-buttons button:first-child {
    margin-left: 20px;
}

.order-info-buttons button:last-child {
    background-color: rgb(220, 20, 60);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 20, 60);
}

.order-info-buttons button:last-child:hover {
    background-color: rgb(211, 11, 51);   
}

.order-product-list {
    padding: 0;
}

.order-product-list li {
    list-style-type: none;
    margin: 20px;
    border: 2px solid rgb(245, 171, 227);
    padding: 20px 30px;
}

.edit-status-form label{
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 600;
}

.edit-status-form #select-status{
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 14px;
}

@media(min-width: 600px){
    .order-info, .order-product{
        flex-flow: row wrap;
    }   
}