/* empty cart */
.empty-cart {
  text-align: center;
}

.empty-cart h2 {
  margin: 20px 0;
  font-family: 'Tajawal', sans-serif; 
}

.empty-cart .link-button#empty-button {
  display: inline-block;
  width: 220px;
}

@media screen and (min-width: 501px) {
  .empty-cart {
      margin-top: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .empty-cart {
      text-align: left;
      margin-left: 0;
  }
}


/* spinner */
.spinner {
  animation: spin infinite 5s linear;
  color: rgb(9, 97, 179);
  font-size: 50px;
  position: absolute;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  top: 20px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
